:root {
    --name: iNeoony;
    --text-color: rgb(255, 255, 255);
    --back-color: rgba(0, 0, 0, 0);
    --over-color: #fefefe;
    --popup-text-color: #000000;
    --border: none;
    --pasxalka: https://www.t.me/iNeoonyNews;
    --has-pasxalka-work: 'true';
}
